$inputPrimary: #0ec8ce;

.crm-input {
  background-color: transparent;
  padding: 15px 7px 15px 48px;
  height: fit-content;
  outline: none;
  border: 1.2px solid rgba(255, 255, 255, 0.72);
  border-radius: 8px;
  color: rgba(255, 255, 255, 0.72);
  background-repeat: no-repeat;
  background-position: 3% 47%;
  transition: 0.3s;

  &:focus {
    border: 2px solid $inputPrimary;
  }
}

.crm-input-text {
  background-image: url("/src/assets/icons/mail.svg");
}

.crm-input-password {
  background-image: url("/src/assets/icons/lock.svg");
}
