.crm-keypad-container {
  max-height: 0;
  overflow: hidden;
  transition: 0.5s;

  &.show-keyboard {
    max-height: 140vh;
  }
  .crm-keypad {
    @apply flex flex-col items-center gap-y-10 gap-x-10 text-white w-[fit-content];

    section {
      button {
        width: 43.234px;
      }
    }
  }
}
