@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");

@font-face {
  font-family: "Axiforma";
  src: url("/src/assets/font/axiforma.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Axiforma";
  src: url("/src/assets/font/axiforma-light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Axiforma";
  src: url("/src/assets/font/axiforma-semibold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Product-Sans";
  src: url("/src/assets/font/product-sans.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Product-Sans";
  src: url("/src/assets/font/product-sans-bold.ttf");
  font-weight: 700;
  font-style: normal;
}
