$inputPrimary: #0ec8ce;

.crm-mini-input {
  height: fit-content;
  outline: none;
  border-radius: 8px;
  transition: 0.3s;

  &.crm-mini-input-gray {
    @apply bg-crm-gray-200 border border-crm-gray-300 text-crm-mutted-blue;
  }
  &.crm-mini-input-transparent {
    @apply bg-transparent border border-crm-gray-600 text-crm-white;

    &:focus {
      @apply border-white;
    }
  }

  &:focus {
    @apply border-crm-mutted-blue;
  }

  &::-webkit-search-cancel-button {
    position: relative;

    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-image: url("/assets/icons/dashboard/close-circle.svg");
    background-repeat: no-repeat;
  }
}
