@import "./utility/styles/font.scss";

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Axiforma", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.kioskboard-body-padding {
    background: linear-gradient(to left top, #151515, #171717, #1a1a1a, #1c1c1c, #1e1e1e);
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

button {
  font-family: "Product-Sans";
  font-weight: 700;
}

h1,
h2 {
  line-height: 200%;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

*::-webkit-scrollbar {
  display: none;
}

.font-inter {
  font-family: "inter", sans-serif;
}
